body
{
color: #FFFFFF;
text-align: justify;
font-family: "Arial";
font-size: 16px;

}
#container 
{
    width: 70%;
    height: auto;
    background-color: #bd787d;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ded1dc;
    padding: 1em;
}

#container h1 
{
    font-family: "Cambria";
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
}

